<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Main Menu</title>

  <!-- Bootstrap -->
  <link href="hotel-reservation-system/web-content/frameworks/node_modules/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="main.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <h1>Main Menu</h1>
  <ul style="list-style-type:none">
    <a href="customer/create-customer.html">
      <li>Create Customer</li>
    </a>
    <hr />
    <a href="customer/view-customers-by-name.html">
      <li>View Customers By Name</li>
    </a>
    <hr />
    <a href="customer/view-customer-by-id.html">
      <li>View Customer By ID</li>
    </a>
    <hr />
    <li>Reserve Room</li>
    <li>Create Payment</li>


    <li>View Current Customers</li>
    <li>View Transaction History</li>
    <li>View Vacancies</li>
    <li>View Reservations</li>
  </ul>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="hotel-reservation-system/web-content/frameworks/node_modules/jquery/dist/core.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="hotel-reservation-system/web-content/frameworks/node_modules/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
